.header-logo {
    color: #e44848;
    font-size: 18px;
    padding-left: 30px;
    font-weight: bold;
}

.f-container {
    display: flex;
    height: 100%;
    
}

.f-item {
    font-size: 14px;
    display: flex;
    align-items: center;
    padding: 0 10px;
    color: #000000;
    text-decoration: none;
}

.header {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.f-item.contact {
    padding:0 20px;
    background-color: #00c17c;
    color: #ffffff;
}

.top-wrapper p {
    font-size: 24px; 
    font-weight: bold;
    text-align: center;
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
    color: #ffffff;
}

.top-wrapper img {
    width: 100%;
}

.top-wrapper {
    position: relative;
}

.section h2 {
    font-size: 38px;
    text-align: center;
    padding-top: 80px;
    color: #00c17c;
}

.section p {
    font-size: 18px;
    color: #000000;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 32px;
    font-weight: bold;
    line-height: 30px;
}

.section-container {
    display: flex;
    justify-content: space-between;
    width: 1080px;
    margin: auto;
}

.section-item {
    background-color: #e9e9e9;
    padding:30px 80px;
    width: 340px;
    height: 290px;
    box-sizing: border-box;
}

.section-item span {
    text-align: center;
    font-size: 30px;
    color: #000000;
    display: block;
    padding-top: 15px;
    font-weight: bold;
}

.circle {
    background-color: #ffffff;
    height: 180px;
    width: 180px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.message h3 {
    font-size: 38px;
    color: #ffffff;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

.message p {
    font-size: 18px;
    text-align: center;
    color: #ffffff;
    line-height: 30px;
    top: 30%;
    width: 100%;
    font-weight: bold;
}

.message {
    margin-top: 80px;
    background-image: url(message-bg.png);
    padding: 80px 0;
}

.white-box {
    width: 160px;
    padding: 20px 0;
    background-color: #ffffff;
    text-align: center;
    border-radius: 8px;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
}

.white-container {
    display: flex;
    top: 50%;
    justify-content: center;
    flex-wrap: wrap;
    width: 1060px;
    margin: auto;
    margin-top: 20px;
}

.white-box:nth-child(n+2) {
    margin-left: 20px;
}

.white-container:first-of-type {
    margin-top: 32px;
}