.header-logo {
    color: #e44848;
    font-size: 18px;
    padding-left: 30px;
}

.f-container {
    display: flex;
    background-color: chartreuse;
    height: 100%;
    
}

.f-item {
    font-size: 14px;
    display: flex;
    align-items: center;
    padding: 0 10px;
}

.header {
    width: 100%;
    height: 60px;
    background-color: blue;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.f-item.contact {
    background-color: #00c17c;
    padding:0 20px;
}